body {
    background-color: rgb(179, 255, 179);
	font-size: 18px;
	font-family: "Times New Roman", serif, monospace;
}
h1 {
	text-align: center;
	text-decoration: underline;
    color: navy;
}
.just{text-align:justify}

.brdr{
	border: solid; border-width:1px;
}
.link:hover {
	border: solid; 
	border-width:1px;
	text-decoration: none;
    color: red;
} 
.brdr:hover{
	background: yellow;
}